.container {
  text-align: center;
  padding: 5%;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: 0 auto;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.quantity_minus,
.quantity_plus {
  background-color: #0074d9;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 24px;
  transition: background-color 0.3s;
}

.quantity_minus:hover,
.quantity_plus:hover {
  background-color: #0056b3;
}

.quantity_input {
  text-align: center;
  font-size: 24px;
  border: none;
  padding: 10px;
  background-color: #fff;
}

input[type="text"] {
  text-align: center;
  height: 30px;
  width: 150px;
}

input[type="text"]:focus {
  border-color: #0074d9;
  outline: none;
}
